
@model ProofRequestsViewModel 

<div class="card-columns">
    @foreach (var pr in Model.ProofRequests)
    {
    <div class="card shadow-sm mt-3">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="proof-tab-@pr.GetHashCode()" data-toggle="tab" href="#proof-details-@pr.GetHashCode()" role="tab" aria-controls="proof-details-@pr.GetHashCode()" aria-selected="true">Proof</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="raw-proof-tab-@pr.GetHashCode()" data-toggle="tab" href="#proof-raw-@pr.GetHashCode()" role="tab" aria-controls="proof-raw-@pr.GetHashCode()" aria-selected="false">Raw Data</a>
                </li>                
            </ul>
        </div>
        <div class="card-body">
            <div class="card-title"></div>
            <div class="card-text">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="proof-details-@pr.GetHashCode()" role="tabpanel" aria-labelledby="proof-tab-@pr.GetHashCode()">
                        <form id="proofCardForm-@pr.GetHashCode()" asp-controller="Proofs" asp-action="VerifyPresentation">
                            <div>
                                <input readonly name="proofRecordId" value="@pr.ProofRecordId" hidden />
                                <small class="text-muted">Conection :&nbsp;</small>
                                <p>@pr.Connection</p>
                            </div>
                            <div>
                                <small class="text-muted">State :&nbsp;</small>
                                <p>@pr.State</p>
                            </div>
                            <div>
                                <small class="text-muted">Created At :&nbsp;</small>
                                <p>@pr.CreatedAtUtc</p>
                            </div>
                            <div>
                                <small class="text-muted">Updated At :&nbsp;</small>
                                <p>@pr.UpdatedAtUtc</p>
                            </div>
                            <div>
                                @if (pr.RevealedAttrs != null) {
                                    <small class="text-muted">Revealed Attributes :&nbsp;</small>
                                        foreach (string attr in pr.RevealedAttrs.Keys)
                                        {
                                            <p>@attr.Replace("_requirement"," :")</p>
                                            <p>@pr.RevealedAttrs[attr].Raw</p>
                                        }
                                }
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="proof-raw-@pr.GetHashCode()" role="tabpanel" aria-labelledby="raw-proof-tab-@pr.GetHashCode()">
                        <div>
                            <small class="text-muted">Request JSON :&nbsp;</small>
                            <textarea class="form-control" readonly cols="30" rows="3">@pr.RequestJson</textarea>
                        </div>
                        <div>
                            <small class="text-muted">Proof JSON :&nbsp;</small>
                            <textarea class="form-control" readonly cols="30" rows="3">@pr.ProofJson</textarea>
                        </div>
                        <div>
                            <small class="text-muted">Proposal JSON :&nbsp;</small>
                            <textarea class="form-control" readonly cols="30" rows="3">@pr.ProposalJson</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" form="proofCardForm-@pr.GetHashCode()" class="btn btn-primary">
                        Verify
                    </button>
                </div>
                <div class="col-sm-6 ml-auto">
                    @if(pr.Verified == "True"){  <p class="text-success text-right">VERIFIED</p> }else if(pr.Verified == "False"){ <p class="text-danger text-right">FAILED</p> }
                </div>
            </div>
        </div>
    </div>
    }
</div>